#chat_room, #user_list{
	border:1px solid black;
	overflow-y: scroll;
	scrollbar-arrow-color:000000;
	scrollbar-track-color:000000;
	scrollbar-shadow-color:B1D0F0;
	scrollbar-face-color:B1D0F0;
	scrollbar-highlight-color:B1D0F0;
	scrollbar-darkshadow-color:B1D0F0;
	scrollbar-3dlight-color:B1D0F0;
}

.scroller{
	border:1px solid black;
	overflow-y: scroll;
	scrollbar-arrow-color:000000;
	scrollbar-track-color:000000;
	scrollbar-shadow-color:B1D0F0;
	scrollbar-face-color:B1D0F0;
	scrollbar-highlight-color:B1D0F0;
	scrollbar-darkshadow-color:B1D0F0;
	scrollbar-3dlight-color:B1D0F0;
}

#chat_room
{
	float: left;
	width:600px; 
	height:400px; 
	padding:5px;
}

#user_list {
	list-style-type: none;
	padding:5px;
	margin-left:10px;
	float: left;
	width: 150px;
	height: 400px;
}

#chat_form{
	clear:both;
}

#chat_input{
	padding:5px;
	margin-top: 10px;
	font-size: 15px;
	border: 1px solid black;
}

.private_message{
	margin-left :10px;
	float: left; 
	height: 400px; 
	padding: 10px;
	border: 1px solid black;	
}

.private_chat_room{
	height: 300px;
}